.header {
  background-color: #3f51b5;
  height: 64px;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

.question-header {
  margin: 0;
  font-size: 0.875rem;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

.exam-buttons {
  margin-left: 10%;
  margin-top: 4px;
}

.answers-button {
  margin-left: 10%;
  margin-top: 4px;
  margin-bottom: 20px;
}

.preloader {
  margin-left: 10%;
  margin-top: 4px;
}

.main-body {
  width: 80%;
  margin-left: 10%;
}

.question {
  padding: 5px;
  margin-top: 4px;
}

.edit-questions {
  padding: 5px;
  margin-top: 4px;
  font-size: 30px;
  font-weight: 300;
}